---
import ProyectTag from "./ProyectTag.astro"
---
<div class="flex flex-col">
    <p class=" text-center text-2xl">MIS PROYECTOS</p>
    <div class="grid grid-cols-3 gap-3 p-4">
        <ProyectTag 
        Title="Bucket network" 
        Description="BucketNetwork is a social platform prototype designed for university purposes, aimed at facilitating the creation and interaction with user-generated content. The project provides a structured, simple, and safe environment for users to express their ideas through posts and comments." 
        Status="I think it's done" 
        ImgSrc="/Astro-Web/BucketNetwork.png"
        >
            <a target="_blank" href="https://github.com/JhersonCastro/PostHiveDemo" class="text-blue-400 hover:text-blue-600">Clic to see the project</a>
        </ProyectTag>
        <ProyectTag 
        Title="Primec Control" 
        Description="Primec Control is a management system designed to maintain full traceability and efficiently manage issues and equipment for company operations in Guatemala. The platform tracks equipment usage, logs incidents, and helps streamline operational workflows to improve transparency and accountability." 
        Status="In Progress" 
        ImgSrc="/Astro-Web/PrimecControl.png"
        />

        <ProyectTag 
        Title="Password Generator" 
        Description="A lightweight tool designed to generate secure passwords with customizable options such as length, symbols, numbers, and uppercase letters. It focuses on simplicity and security, helping users quickly create strong passwords for everyday use." 
        Status="Completed" 
        ImgSrc="/Astro-Web/PasswordGenerator.png"
        >
            <a target="_blank" href="https://github.com/JhersonCastro/passwordGenerator" class="text-blue-400 hover:text-blue-600">Clic to see the project</a>
        </ProyectTag>

        <ProyectTag 
        Title="Ascsharp" 
        Description="Ascsharp is a simple and fast notepad-style text editor built with WPF and C#. It focuses on a clean interface and basic text editing features, serving as a lightweight alternative for quick note-taking and experimentation with desktop application development." 
        Status="Completed" 
        ImgSrc="/Astro-Web/ASCSharp.png"
        >
            <a target="_blank" href="https://github.com/JhersonCastro/ASCSharp" class="text-blue-400 hover:text-blue-600">Clic to see the project</a>
        </ProyectTag>
    </div>
</div>
