---

---

<section class="hero">
  <div class="hero-content">
      <h1>A <span class="hero-net">.NET</span> Developer</h1>
      <h2 aria-label="Jherson Castro">JhersonCastro (Bucket!)</h2>
  </div>
  <div class="hero-footer flex flex-col items-center space-y-2">
      <svg xmlns="http://www.w3.org/2000/svg" 
          fill="none" 
          viewBox="0 0 24 24" 
          stroke-width="1.5" 
          stroke="currentColor" 
          aria-hidden="true"
          class="w-8 h-8">
          <path stroke-linecap="round" stroke-linejoin="round" 
              d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
      </svg>
      <p>Scroll down slowly to continue...</p>
  </div>
</section>
<style is:global>
.hero {
  height: 100vh; 
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  background-color: #000; 
  color: #fff;
}

.hero h1 {
  font-size: 6rem;
  text-align: center;
  text-wrap: balance;
}

.hero h2 {
  font-size: 3rem;
  text-align: center;
  text-wrap: balance;
  margin-top: 0.5rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  flex: 1;
}

.hero-footer {
  margin-bottom: 1rem;
}
.hero-footer p{
  text-wrap: balance;
  text-align: center;
  font-size: 1.8rem;
}
.hero-net{
    color: #FFD700; 
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 3rem;
  }
  .hero h2 {
    font-size: 1.5rem;
  }
  .hero-footer p{
    font-size: 1rem;
  }
}

</style>
<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  import { SplitText } from 'gsap/SplitText';

  gsap.registerPlugin(ScrollTrigger, SplitText);
const tl1 = gsap.timeline({
  scrollTrigger: {
    trigger: ".hero",
    start: "top bottom",   
    end: "bottom top",     
    toggleActions: "play pause resume reset", 
  }
});
let splitNetHeroText = new SplitText(".hero-content span",{
    type:"chars"
})

tl1
.from('.hero-content h1', {
    autoAlpha:0,
    duration: 1.5,
    y:100,
    filter: "blur(15px)"
})
.from('.hero-content h2', {
    autoAlpha:0,
    duration: 1,
    y:50,
    filter: "blur(15px)"
})
.from('.hero-footer', {
    autoAlpha:0,
    duration: 1,
    y:50,
    filter: "blur(15px)"
})
.to('.hero-footer svg',{
    y: -15,
    repeat: -1,
    yoyo: true,
    ease: "power1.out",
})
.to(splitNetHeroText.chars, {
    repeat: -1,        
    yoyo: true,        
    stagger: {
      y: -15,            
      each: 0.2         
  }
});
</script>